.container {
    width: 900px;
    margin-top: 20px;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-grid {
    display: flex;
}

.box-grid {
    border: 1px solid black;
    background-color: #5a509e;
}